.base-link {
  border-radius: 5px;
  padding-right: 1rem;
}

.base-logo {
  height: 64px;
}

.base-title {
  font-size: 1.4rem !important;
  padding: 0.25rem;
  font-weight: 100 !important;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.base-button {
  padding: 0 2px;
  margin: 0 2px;
}

.base-menu > md-menu-item, .base-menu > md-menu-item > button {
  display: block !important;
  height: 64px !important;
}

md-menu-bar.md-default-theme md-menu.md-open > button,
md-menu-bar md-menu.md-open > button,
md-menu-bar.md-default-theme md-menu > button:focus,
md-menu-bar md-menu > button:focus { /* This prevents profile icon from being whited */
  background-color: rgba(255, 255, 255, 0.3);
}
