.base-link {
  border-radius: 5px;
}

.base-logo {
  height: 64px;
}

.base-title {
  font-size: 1.4rem !important;
  padding: 0.25rem;
  font-weight: 100 !important;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
