/* Footer ccs */

md-card {
  padding: 20px;
}

footer {
  background-color: #ccc;
}

 /* No buscamos como docuemntar xd css*/
.loginLogo {
  padding: 2rem 1rem;
}

/* Tooltip */
md-tooltip ._md-content {
    font-size: 14px;
    padding: 0.5rem 1rem;
    background-color: black;
}

/* Navbar Title */
ae-navbar-title {
  /*filter: brightness(0) invert(1);*/
  height: 32px;
}
