md-content {
  padding: 2rem;
}

md-card {
  padding: 20px;
  border-radius: 5px;
}

footer {
  background-color: #3C4252;
}

md-tooltip .md-content {
  font-size: 14px;
  padding: 0.5rem 1rem;
  background-color: black;
}

button label {
  cursor: pointer;
}

.md-toolbar-tools {
  /* Makes the toolbar stay in 64px height, in any resolution */
  height: 64px;
  max-height: 64px;
}

.register-menu {
  border-radius: 5px;
  margin-top: 2rem;
}


.stick-button {
  position: absolute;
  margin-top: 60px;
  -moz-margin: 30px 0 0 0;
  margin-left: calc(100% - 10rem);
}

@-moz-document url-prefix() { /* Firefox hack, position absolute works different on chrome and firefox*/
  .stick-button {
    position: absolute;
    margin-top: 30px;
    margin-left: calc(100% - 10rem);
  }
}

.md-button:not([disabled]):hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.hoverable {
  transition: all 0.3s ease;
}

.hoverable:hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.hoverable-shadow {
  transition: all 0.3s ease;
}

.hoverable-shadow:hover {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.unselectable, md-icon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pad-0-5 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem !important;
}

.pad-2 {
  padding: 2rem;
}

.vertical-marg-0-5 {
  margin: 0.5rem 0;
}

.vertical-marg-1 {
  margin: 1rem 0;
}

.vertical-marg-2 {
  margin: 2rem 0;
}

.border-radius-5 {
  border-radius: 5px;
}

.row-4 {
  height: 4rem;
}

.icon-valign {
  vertical-align: middle;
}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.text-left {
  text-align: left;
}

.thin-text {
  font-weight: 100 !important;
}

.spacing-1 {
  letter-spacing: 0.1rem;
}

.font-2 {
  font-size: 1.1rem;
}

.with-background {
  background-image: url('../images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-margin {
  margin: 0;
}

@media only screen and (max-width: 599px){
  .no-margin-xs {
    margin: 0; }

  .no-pad-xs {
    padding: 0 !important; }
}

.no-padding {
  padding: 0;
}

.background-height {
  height: calc(100% - 128px);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.truncate-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
