md-content {
  height: 100%;
  padding: 2rem;
}

md-card {
  padding: 20px;
}

footer {
  background-color: #3C4252;
}

md-tooltip .md-content{
    font-size: 14px;
    padding: 0.5rem 1rem;
    background-color: black;
}

.md-button:not([disabled]):hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.row-4 {
  height: 4rem;
}

.icon-valign {
  vertical-align: middle;
}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.thin-text {
  font-weight: 100;
}
