/* FILTERS */

md-input-container {
  overflow: auto;
}

.filter-wrapper {
  padding-bottom: 1rem;
}

.filter-container {
  padding:1rem;
  background-color: #FAFAFA;
  border-radius: 5px;
}

.filter-header {
  color: #2196F3;
  font-size: 1.4rem;
  align-self: center;
  white-space: nowrap;
  padding: 0 1rem;
}

.filter-full-header { /* For headers without search bar */
  width: 100%;
  padding: 1rem;
}

.filter-icon {
  padding: 0 0 0 1rem;
  color: #2196F3 !important;
}

.filter-search-icon {
  padding: 0 12px 0 12px;
  color: #2196F3 !important;
}

.filter-search {
  width: 100%;
  padding: 0 0 0 1rem;
}

.filter-button {
  width: 1rem;
}

.filter-text-button { /* For buttons with text */
  width: 10rem;
}

.filter-text-button-2 { /* For buttons with more text */
  width: 20rem;
}

@media only screen and (max-width: 728px){
  .filter-button {
    margin: 0;
    padding: 0;
    min-width: 3rem; }

  .filter-icon {
    margin: auto 0; }

  .md-input-container-xs {
    height: 36px;
    padding: 0;
    overflow: auto; }
}

@media only screen and (max-width: 359px){
  .filter-button {
    min-width: 2rem; }

  .filter-icon {
    padding: 0; }
}

/* TABLES IN GENERAL */

.mdtTableContainer {
  border-radius: 5px;
  margin-bottom: 2rem;
}

/* EMPLOYEES */

.employeesTable table td, .employeesTable table th {
  padding: 0px !important;
}

.employeesTable table th {
  text-align: center !important;
}

.employeesTable table tr td {
    white-space: nowrap;
}

/*ICON*/
.employeesTable table td:nth-child(1) {
}

/*NAME*/
.employeesTable table td:nth-child(2) {
  width: 25%;
}

/*LASTMNAME*/
.employeesTable table td:nth-child(3) {
  width: 25%;
}

/*CHARGE*/
.employeesTable table td:nth-child(4) {
  width: 10%%;
}

/*MAIL*/
.employeesTable table td:nth-child(5) {
  width: 25%;
}

/*EDIT BUTTON*/
.employeesTable table td:nth-child(6) {
  width: 15%;
}


/* PROFILES */

.profilesTable table td, .profilesTable table th {
  padding: 0px !important;
}

.profilesTable table th {
  text-align: center !important;
}

.profilesTable table tr td {
    white-space: nowrap;
}

/*NAME*/
.profilesTable table td:nth-child(2) {
  width: 30%;
}

/*LASTNAME*/
.profilesTable table td:nth-child(3) {
  width: 30%;
}

/*DNI*/
.profilesTable table td:nth-child(4) {
  width: 10%;
}

/*MAIL*/
.profilesTable table td:nth-child(5) {
  width: 10%;
}

/*EDIT BUTTON*/
.profilesTable table td:nth-child(6) {
}

/*HISTORY BUTON*/
.profilesTable table td:nth-child(7) {
}

/* STOCK */

.stockTable table th {
  text-align: center !important;
}

.stockTable table tr td {
    white-space: nowrap;
}

/*NAME*/
.stockTable table td:nth-child(2) {
}

/*QUANTITY*/
.stockTable table td:nth-child(3) {
}

/*DETAIL*/
.stockTable table td:nth-child(4) {
}

/* EDIT BUTTON */
.stockTable table td:nth-child(5) {
}


/* MOVEMENTS */

.movementsTable, .movementsTable mdt-table > md-content > md-content, .movementsTable table td, .movementsTable table th {
  padding: 0px !important;
}

.movementsTable table th {
  text-align: center !important;
}

.movementsTable table tr td {
    white-space: nowrap;
}

/*DATE*/
.movementsTable table td:nth-child(2) {
  width: 9%;
}

/*EMPLOYEE*/
.movementsTable table td:nth-child(3) {
  width: 27%;
}

/*PACIENT/DONTOR*/
.movementsTable table td:nth-child(4) {
  width: 27%;
}

/*INPUT MONEY*/
.movementsTable table td:nth-child(5) {
  text-align: center;
  width: 7.4%;
}

/*INPUT DRUG*/
.movementsTable table td:nth-child(6) {
  text-align: center;
  width: 7.4%;
}

/*OUTPUT MONEY*/
.movementsTable table td:nth-child(7) {
  text-align: center;
  width: 7.4%;
}

/*OUTPUT DRUG*/
.movementsTable table td:nth-child(8) {
  text-align: center;
  width: 7.4%;
}

/*DETAIL */
.movementsTable table td:nth-child(9) {
  width: 7.4%;
}

.movementsTable table td:nth-child(9) button {
  width: 2rem;
  min-width: 2rem;
}


/* HISTORY */

.historyTable table td, .historyTable table th {
  padding: 0px !important;
}

.historyTable table th {
  text-align: center !important;
}

.historyTable table tr td {
    white-space: nowrap;
}

/*DATE*/
.historyTable table td:nth-child(2) {
  width: 10%;
}

/*DOCTOR*/
.historyTable table td:nth-child(3) {
  width: 30%;
}

/*DESCRIPTION*/
.historyTable table td:nth-child(4) {
  width: 40%;
}

/*DETAIL*/
.historyTable table td:nth-child(5) {
  width: 5%;
}
