<div ng-repeat="x in slides">
        <img src="{{ x.image }}" alt=""/>
</div>

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA


<div>
  <img ng-src="{{slideItem.src}}" >
</div>

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
 <ul rn-carousel class="image">
  <li ng-repeat="x in slides">
    <!-- <div class="layer">{{ x.image }}</div> -->
    <div class="layer"><img ng-src="{{ x.image }}" alt=""/></div>
  </li>
</ul>
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
