<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aesculapius</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">    
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" href="bower_components/md-data-table/dist/md-data-table-style.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/dialog.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/loading.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/tables.css">

    <!-- endbuild -->
  </head>
  <body ng-app="aesculapiusFrontApp" ng-controller="BaseCtrl as base">
    <!--[if lte IE 8]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

    <!-- Nav Bar -->
    <md-toolbar class="md-whiteframe-4dp">
      <div class="md-toolbar-tools">

        <a layout="row" href="#" md-ink-ripple class="unselectable hoverable base-link">
          <img class="base-logo center" src="images/logo_nobackground.png"/>
          <span hide show-gt-sm class="base-title">Aesculapius</span>
        </a>

        <div ng-show="authenticated">
          <span flex="5"></span>
          <md-button hide show-gt-sm class="base-button" href="#/profiles">
            <md-icon>local_hospital</md-icon>
            <span>Pacientes<span>
            <md-tooltip>Ver Pacientes</md-tooltip>
          </md-button>
          <md-button hide show-sm show-xs href="#/profiles" class="md-icon-button">
            <md-icon>local_hospital</md-icon>
            <md-tooltip>Ver Pacientes</md-tooltip>
          </md-button>
          <md-button hide show-gt-sm class="base-button" href="#/employees">
            <md-icon>people</md-icon>
            <span>Empleados<span>
            <md-tooltip>Ver Empleados</md-tooltip>
          </md-button>
          <md-button hide show-sm show-xs href="#/employees" class="md-icon-button">
            <md-icon>people</md-icon>
            <md-tooltip>Ver Empleados</md-tooltip>
          </md-button>
          <md-button hide show-gt-sm class="base-button" href="#/stock">
            <md-icon>assignment</md-icon>
            <span>Inventario<span>
            <md-tooltip>Gestionar Inventario</md-tooltip>
          </md-button>
          <md-button hide show-sm show-xs href="#/stock" class="md-icon-button">
            <md-icon>assignment</md-icon>
            <md-tooltip>Gestionar Inventario</md-tooltip>
          </md-button>
          <md-button hide show-gt-sm class="base-button" href="#/register">
            <md-icon>web</md-icon>
            <span>Caja<span>
            <md-tooltip>Ir a la caja</md-tooltip>
          </md-button>
          <md-button hide show-sm show-xs href="#/register" class="md-icon-button">
            <md-icon>web</md-icon>
            <md-tooltip>Ir a la caja</md-tooltip>
          </md-button>
          <md-button hide show-gt-sm class="base-button" href="#/newvisit" ng-if="me.charge==='doctor'">
            <md-icon>note_add</md-icon>
            <span>Nueva Consulta<span>
            <md-tooltip>Ir a Nueva Consulta</md-tooltip>
          </md-button>
          <md-button hide show-sm show-xs href="#/newvisit" class="md-icon-button" ng-if="me.charge==='doctor'">
            <md-icon>note_add</md-icon>
            <md-tooltip>Ir a Nueva Consulta</md-tooltip>
          </md-button>
        </div>

        <span flex></span>

        <div ng-show="authenticated">
          <md-menu-bar>
            <md-menu md-position-mode="target-right bottom">
              <md-button ng-click="$mdOpenMenu()">
                <md-icon>person</md-icon>
                <span hide show-gt-md>{{me.profile.first_name + " " + me.profile.last_name}}</span>
              </md-button>
              <md-menu-content class="base-menu" width="4">
                <md-menu-item>
                  <md-button id="employee" ng-click="goToDialog($event)">
                    <md-icon>person</md-icon>
                    <span>{{me.profile.first_name + " " + me.profile.last_name}}</span>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="logout()">
                    <md-icon>exit_to_app</md-icon>
                    <span>Salir de Aesculapius</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-bar>
        </div>

        <div ng-hide="authenticated">
          <md-button class="font-2" target="_blank" ng-href="https://www.facebook.com/Parroquia-Santa-Maria-de-la-Paz-495991100463679/">
            <md-icon md-svg-src="images/facebook.svg"></md-icon>
            <span hide-xs class="pad-0-5 thin-text spacing-1">Parroquia Santa María de la Paz</span>
          </md-button>
        </div>

      </div>
    </md-toolbar>

    <!-- Main Content -->
    <md-content class="with-background background-height">
      <div ng-view=""></div>
    </md-content>

    <!-- Loading Spinner -->
    <div layout="column" class="loading-container" ng-show="loading">
      <img class="loading-logo center" src="images/logo_square_shadow.png"/>
      <md-progress-circular class="loading-spinner" ng-model="loading" md-diameter="96"/>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/md-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/md-data-table/dist/md-data-table-templates.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-i18n/angular-locale_es-ar.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/base.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/visit.js"></script>
    <script src="scripts/controllers/employees.js"></script>
    <script src="scripts/controllers/profiles.js"></script>
    <script src="scripts/controllers/history.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/directives/mdt-button.js"></script>
    <script src="scripts/directives/ae-profile-icon.js"></script>
    <script src="scripts/services/aedata.js"></script>
    <script src="scripts/controllers/stock.js"></script>
    <script src="scripts/controllers/drug.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/newvisit.js"></script>
    <script src="scripts/controllers/movements.js"></script>
    <script src="scripts/controllers/movement.js"></script>
    <script src="scripts/directives/capitalize-first.js"></script>
    <!-- endbuild -->
  </body>
</html>
