<md-dialog>
  <div layout="row">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        {{isNew() ? 'Agregar Medicamento' : 'Editar Medicamento'}}
      </div>
      <div class='dialog-close'>
        <md-button ng-click="cancel()" class="md-icon-button">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </div>
  <md-divider></md-divider>

  <md-dialog-content class="md-padding" layout="column">
    <div layout="column" layout-padding ng-cloak>
      <form name="drugForm" ng-submit="save()" novalidate>
        <div layout="column">
          <md-input-container>
            <label>Nombre del Medicamento</label>
            <md-icon class="md-primary">healing</md-icon>
            <input name="name" ng-model="drug.name" required md-maxlength="256"/>
            <div ng-messages="drugForm.name.$error">
              <div ng-message="required">Este campo es obligatorio.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Cantidad</label>
            <md-icon class="md-primary">vertical_align_center</md-icon>
            <input name="quantity" type="number" required ng-model="drug.quantity">
            <div ng-messages="drugForm.quantity.$error">
              <div ng-message="number">Ingrese solo números enteros</div>
              <div ng-message="required">Este campo es obligatorio</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Detalle</label>
            <md-icon class="md-primary">content_paste</md-icon>
            <textarea name="description" ng-model="drug.description"></textarea>
          </md-input-container>
        </div>

      </form>

    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <!-- TODO it is removed from preventing a bug. check out trello. <md-button class="md-warn" ng-hide="isNew()" ng-click="delete()" layout-align="start center">
      <label>Eliminar</label>
      <md-icon>delete</md-icon>
    </md-button> -->
    <md-button ng-click="cancel()" layout-align="end center">
      <label>Cancelar</label>
      <md-icon>cancel</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="save()" ng-disabled="drugForm.$invalid||drugForm.$pristine" layout-align="end center">
      <label>Guardar</label>
      <md-icon>save</md-icon>
    </md-button>
  </md-dialog-actions>

</md-dialog>
