<div class="employeesTable">
  <div ng-hide="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-icon">format_list_bulleted</md-icon>
      <span class="truncate-xs filter-header"><span hide show-gt-xs>Lista de</span> Empleados</span>
      <span flex></span>
      <div class="filter-search" layout="row" hide show-gt-xs>
        <md-icon>search</md-icon>
        <md-input-container md-no-float class="md-toolbar-tools">
          <input flex ng-model="filterText" placeholder="Comience a escribir aquí" type="text">
        </md-input-container>
      </div>
      <md-button hide show-xs class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>search</md-icon>
        <md-tooltip md-delay="500">Busca un empleado</md-tooltip>
      </md-button>
      <md-button class="filter-button md-primary" id="employee" ng-click="$root.showDialog($event)">
        <md-icon>person_add</md-icon>
        <md-tooltip md-delay="500">Agrega un nuevo empleado</md-tooltip>
      </md-button>
    </div>
  </div>

  <div ng-show="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-search-icon">search</md-icon>
      <md-input-container md-no-float class="md-toolbar-tools md-input-container-xs">
        <input flex ng-model="filterText" placeholder="Buscar" type="text">
      </md-input-container>
      <md-button class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>close</md-icon>
        <md-tooltip md-delay="500">Cancelar busqueda</md-tooltip>
      </md-button>
    </div>
  </div>


  <mdt-table
    sortable-columns="true"
    animate-sort-icon="true"
    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
    mdt-row-paginator="refreshTable(page, pageSize)"
    mdt-row-paginator-error-message="Hubo un error al cargar los empleados."
    mdt-row-paginator-no-results-message="No hubo resultados de la busqueda."
    mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
    mdt-translations="{
    'rowsPerPage': 'Filas:'
    }"
    mdt-row="{
    'table-row-id-key': 'id',
    'column-keys': [
    'profile.first_name',
    'profile.last_name',
    'charge',
    'profile.email',
    'id'
    ],
  }">
    <mdt-header-row>
      <mdt-column align-rule="left">Nombre</mdt-column>
      <mdt-column align-rule="left">Apellido</mdt-column>
      <mdt-column align-rule="left">Tipo</mdt-column>
      <mdt-column align-rule="left">Email</mdt-column>
      <mdt-column align-rule="left">Editar</mdt-column>
    </mdt-header-row>
    <mdt-custom-cell column-key="profile.first_name">
      <ae-profile-icon id={{rowId}} name={{value}} type='employee' size=32></ae-profile-icon>
      <span class="height-48">{{value}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="charge">
      <ae-profile-icon name={{value}} size=32 type="charge"></ae-profile-icon>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="id">
      <mdt-button id="employee" value="{{value}}" ng-click="$root.showDialog($event, this)" icon="edit"></mdt-button>
    </mdt-custom-cell>
  </mdt-table>
</md-card>
