<div>
  <div layout="row">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">Historia Clínica de {{patientName}}</div>
    </div>
    </md-toolbar>
  </div>
  <md-content layout="column" layout-padding flex>
    <mdt-table sortable-columns="true" animate-sort-icon="true"
    paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,50]}"
    mdt-row-paginator="getData(page, pageSize)"
    mdt-row-paginator-error-message="Hubo un error al cargar las personas."
    mdt-row-paginator-no-results-message="No hubo resultados de la busqueda."
    mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
    mdt-row="{
      'table-row-id-key': 'id',
      'column-keys': [
      'datetime',
      'doctor_name',
      'detail',
      'id'
      ],
    }">
      <mdt-header-row>
        <mdt-column align-rule="right">Fecha</mdt-column>
        <mdt-column align-rule="left">Médico</mdt-column>
        <mdt-column align-rule="left">Descripción</mdt-column>
        <mdt-column align-rule="right">Detalles</mdt-column>
      </mdt-header-row>
      <mdt-custom-cell column-key="doctor_name" aria-label="More">
        <ae-profile-icon name={{value}} size=32></ae-profile-icon>
        <span class="height-48">{{value}}</span>
      </mdt-custom-cell>
      <mdt-custom-cell column-key="detail" aria-label="More">
        {{value| limitTo: 97}}{{value.length > 100? '...': ''}}
      </mdt-custom-cell>
      <mdt-custom-cell column-key="datetime" aria-label="More">
        {{value|date}}
      </mdt-custom-cell>
      <mdt-custom-cell column-key="id" aria-label="More">
        <mdt-button id="visit" ng-click="clientScope.goToDialog(value, $event, this)" icon="more"></mdt-button>
      </mdt-custom-cell>
    </mdt-table>
  </md-content>

</div>
