<div layout="column" layout-fill>
  <md-toolbar>

    <div class="md-toolbar-tools">
      <span>Aesculapius</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>

      <div md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <md-input-container>
          <label>Usuario</label>
          <input ng-model="user.title">
        </md-input-container>

        <md-input-container>
          <label>Pass</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
      </div>

      <md-button> Ingresar <md-icon> face </md-icon> </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <slider></slider>
  </md-content>


  </div>

<footer>
  <div layout="row" layout-align="center center">
    <h2>Aesculapius</h2>
  </div>
</footer>
