<div layout="row" flex layout-align="center">

  <form name="loginForm" ng-submit="logIn()" class="login-form pad-2" md-whiteframe="3" layout="column" layout-fill>

    <div layout="column" layout-align="center center">
      <img src="images/logo_circle_shadow.png" alt="Aesculapius" class="login-logo"/>
      <p ng-if="!isTesting" class="thin-text">Ingresa a Aesculapius <span hide-xs>- Santa María</span></p>
      <p ng-if="isTesting" class="thin-text center">Prueba Aesculapius<br>Como <a class="md-primary md-body-2 cursor-pointer" ng-click="testAs('doctor')">doctor</a> o como <a class="md-primary md-body-2 cursor-pointer" ng-click="testAs('secretary')">secretaria</a></p>
    </div>

    <md-input-container class="md-block no-margin-xs">
      <md-icon class="md-primary">person</md-icon>
      <input name="username" ng-model="credentials.username" placeholder="Nombre de Usuario" required>
      <div ng-messages="loginForm.username.$error">
        <div ng-message="required">El nombre de usuario es necesario</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block no-margin-xs">
      <md-icon class="md-primary">lock</md-icon>
      <input name="password" type="password" ng-model="credentials.password" placeholder="Contraseña" required>
      <div ng-messages="loginForm.password.$error">
        <div ng-message="required">La contraseña es necesaria</div>
      </div>
    </md-input-container>

    <md-button type="submit" class="md-primary md-raised row-4" layout="row">
      <md-icon layout>arrow_forward</md-icon>
    </md-button>

  </form>

</div>
