<md-content layout="row" flex layout-align="center">

  <div class="login-form pad-2" md-whiteframe="3" layout="column" layout-fill>


    <div layout="column" layout-align="center center">
      <img src="images/logo_circle_shadow.png" class="login-logo"/>
      <p class="md-body-2">Ingresa a Aesculapius - Santa María</p>
    </div>

    <md-input-container class="md-block">
      <md-icon class="md-primary">person</md-icon>
      <input ng-model="credentials.username" placeholder="Nombre de Usuario">
    </md-input-container>

    <md-input-container class="md-block">
      <md-icon class="md-primary">lock</md-icon>
      <input type="password" ng-model="credentials.password" placeholder="Contraseña">
    </md-input-container>

    <md-button class="md-primary md-raised row-4" layout="row" ng-click="logIn()">
      <md-icon layout>arrow_forward</md-icon>
    </md-button>

  </div>

</md-content>
