<div class="movementsTable">
  <div ng-hide="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-icon">format_list_bulleted</md-icon>
      <span class="truncate-ellipsis-xs filter-header">Movimientos</span>
      <span flex></span>
      <div class="filter-search" layout="row" hide show-gt-xs>
        <md-icon>search</md-icon>
        <md-input-container md-no-float class="md-toolbar-tools">
          <input flex ng-model="filterText" placeholder="Buscar movimientos..." type="text">
        </md-input-container>
      </div>
      <md-button hide show-xs class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>search</md-icon>
        <md-tooltip md-delay="500">Buscar movimientos</md-tooltip>
      </md-button>
      <md-button class="movements-money filter-button md-primary">
        <span ng-if="aesculapius.balance">${{aesculapius.balance}}</span>
        <md-icon ng-if="!aesculapius.balance">autorenew</md-icon>
        <md-tooltip md-delay="500">{{aesculapius.balance ? 'Dinero en caja' : 'Obteniendo dinero en caja...'}}</md-tooltip>
      </md-button>
      <md-button class="filter-button md-primary" ng-click="goToRegister()">
        <md-icon>arrow_back</md-icon>
        <md-tooltip md-delay="500">Volver a la caja</md-tooltip>
      </md-button>
    </div>
  </div>

  <div ng-show="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-search-icon">search</md-icon>
      <md-input-container md-no-float class="md-toolbar-tools md-input-container-xs">
        <input id="mobileSearch" flex ng-model="filterText" placeholder="Buscar" type="text">
      </md-input-container>
      <md-button class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>close</md-icon>
        <md-tooltip md-delay="500">Cancelar busqueda</md-tooltip>
      </md-button>
    </div>
  </div>

  <!-- <md-card class="no-margin" layout="column">
    <md-input-container layout="row">
      <md-icon>person</md-icon>
      <label>Filtrar por Empleado / Paciente / Donador</label>
      <input flex ng-model="filterText" type="text">
    </md-input-container>
    <div layout="row">
      <md-select ng-model="dateFilterSelect" placeholder="Filtro por fecha" class="md-no-underline" multiple>
        <md-option value="1">Fecha</md-option>
        <md-option value="2">Año</md-option>
        <md-option value="3">Mes</md-option>
      </md-select>
      <md-input-container ng-show="dateFilterSelect.includes('2') && !dateFilterSelect.includes('1')">
        <label>Año</label>
        <input type="number" ng-model="yearFilter">
      </md-input-container>
      <md-input-container ng-show="dateFilterSelect.includes('3') && !dateFilterSelect.includes('1')">
        <label>Mes</label>
        <input type="number" ng-model="monthFilter">
      </md-input-container>
      <md-datepicker class="margin-20" ng-show="dateFilterSelect.includes('1')"
      md-open-on-focus ng-model="dateFilter" md-placeholder="Ingrese la fecha"></md-datepicker>
    </div>
  </md-card> -->

  <mdt-table
    sortable-columns="true"
    animate-sort-icon="true"
    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
    mdt-row-paginator="refreshTable(page, pageSize)"
    mdt-row-paginator-error-message="Hubo un error al cargar los movimientos."
    mdt-row-paginator-no-results-message="No hubo resultados de la busqueda."
    mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
    mdt-translations="{
    'rowsPerPage': 'Filas:'
    }"
    mdt-row="{
      'table-row-id-key': 'id',
      'column-keys': [
      'datetime',
      'employee_name',
      'profile_name',
      'totalCashIn',
      'totalCashOut',
      'totalDrugsIn',
      'totalDrugsOut',
      'id'
      ],
    }">
    <mdt-header-row>
      <mdt-column align-rule="left">Fecha</mdt-column>
      <mdt-column align-rule="left">Empleado</mdt-column>
      <mdt-column align-rule="left">Paciente/Donador</mdt-column>
      <mdt-column align-rule="left">+D</mdt-column>
      <mdt-column align-rule="left">-D</mdt-column>
      <mdt-column align-rule="left">+M</mdt-column>
      <mdt-column align-rule="left">-M</mdt-column>
      <mdt-column align-rule="left">Ver</mdt-column>
    </mdt-header-row>
    <mdt-custom-cell column-key="datetime">
      <span>{{value|date: 'shortDate'}}</span><br>
      <span>{{value|date: 'shortTime'}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="totalCashIn">
      <span ng-show="{{value}}">{{value| currency}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="totalCashOut">
      <span ng-show="{{value}}">{{value| currency}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="employee_name">
      <ae-profile-icon name={{value}} size=32 id={{::clientScope.idOfEmployee(rowId)}}></ae-profile-icon>
      <span class="height-48">{{value}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="profile_name">
      <ae-profile-icon name={{value}} size=32 id={{::clientScope.idOfProfile(rowId)}}></ae-profile-icon>
      <span class="height-48">{{value}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="id" aria-label="More">
      <mdt-button id="movement" ng-click="$root.showDialog($event, this)" icon="more"></mdt-button>
    </mdt-custom-cell>
  </mdt-table>
</div>
