<md-toolbar layout="row">
  <div class="md-toolbar-tools">Nueva Consulta</div>
</md-toolbar>
<md-content>
  <md-card>
    <md-card-content flex layout="column">
      <form name="newVisitForm" ng-submit="done()" novalidate>
        <div layout="row">
          <ae-profile-icon ng-if="selectedItemPeople.first_name"
          name="{{selectedItemPeople.first_name}}" size=32></ae-profile-icon>
          <md-autocomplete md-input-name="person"
          flex required
          md-selected-item="selectedItemPeople"
          md-search-text="filterTextP"
          md-require-match="true"
          md-items="item in peopleList()"
          md-item-text="itemText(item)"
          md-min-length="0"
          md-delay="1000"
          md-floating-label="Ingrese el nombre, apellido o DNI del paciente">
          <md-item-template>
            <div ng-if="item.first_name">
              <span class="item-title">
                <md-icon>person</md-icon>
                <span>{{item.first_name}}</span>
              </span>
              <span class="item-metadata">
                <span class="item-metastat">
                  <strong>{{item.last_name}}</strong>
                </span>
                <span class="item-metastat" ng-if="item.dni">
                  - DNI: <strong>{{item.dni}}</strong>
                </span>
              </span>
            </div>
            <div layout="row">
              <md-button flex id="profile" class="md-primary" aria-label="Person Add"
              ng-click="$root.showDialog($event, this)">
              <md-icon>person_add</md-icon>
              <label>Añadir Persona</label>
            </md-button>
          </div>
        </md-item-template>
      <div ng-messages="newVisitForm.person.$error">
        <div ng-message="required">Es necesario que elija un paciente.</div>
        <div ng-message="md-require-match">Esta persona no existe.</div>
      </div>
      </md-autocomplete>
      <md-button ng-disabled="!selectedItemPeople.id" class="md-icon-button md-primary" aria-label="More" id="profile"
      ng-click="goToDialog($event, selectedItemPeople.id)">
      <md-icon>more_vert</md-icon>
    </md-button>
  </div>
  <div flex layout="row" layout-align="end center">
    <span>{{date | date: "dd MMMM yyyy HH:mm"}}</span>
  </div>
  <div layout="row">
    <md-input-container flex>
      <label>Detalles</label>
      <textarea name="detail" type="text" required ng-model="detail" rows="5"></textarea>
      <div ng-messages="newVisitForm.detail.$error">
        <p ng-message="required">Este campo es requerido.</p>
      </div>

      </div>
    </md-input-container>
  </div>

      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-disabled="newVisitForm.$invalid || newVisitForm.$pristine" class="md-primary md-raised" ng-click="done()">
        <md-icon>done</md-icon>
        Aceptar
      </md-button>
      <md-button class="md-warn" ng-click="cancel()">
        <md-icon>cancel</md-icon>
        Cancelar
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>
