<div ng-controller="PersonasCtrl" layout-margin>

  <md-card style="margin:0px">
    <md-subheader >Buscar Personas</md-subheader>

    <md-input-container style="margin:15px;" layout="row">
      <div class="" flex="90">
        <label>Buscar</label>
        <input type="text" flex ng-model="filterText">
      </div>

      <md-button style="align:right;" class="md-icon-button md-primary" aria-label="AddPerson" flex="10">
        <md-icon>person_add</md-icon>
      </md-button>
    </md-input-container>


  </md-card>

  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
    <mdt-header-row>
      <mdt-column align-rule="left">Tipo</mdt-column>
      <mdt-column align-rule="left">Nombre y Apellido</mdt-column>
      <mdt-column align-rule="left">Especialidad</mdt-column>
      <mdt-column align-rule="left">Editar</mdt-column>
      <mdt-column align-rule="left">Ver HC</mdt-column>

    </mdt-header-row>
    <mdt-row ng-repeat="person in peopleList">
      <mdt-cell>{{person.type}}</mdt-cell>
      <mdt-cell>{{person.name}}</mdt-cell>
      <mdt-cell>{{person.specialty}}</mdt-cell>
      <mdt-cell html-content="true">
        <md-button class="md-icon-button md-primary" aria-label="EditPerson">
          <md-icon>edit</md-icon>
        </md-button>
      </mdt-cell>
      <mdt-cell html-content="true">
        <md-button class="md-icon-button md-primary" aria-label="SeeCH">
          <md-icon>description</md-icon>
        </md-button>
      </mdt-cell>
    </mdt-row>
  </mdt-table>

</div>
