<div class="profilesTable">
  <div ng-hide="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-icon">format_list_bulleted</md-icon>
      <span class="truncate-xs filter-header"><span hide show-gt-xs>Lista de</span> Pacientes</span>
      <span flex></span>
      <div class="filter-search" layout="row" hide show-gt-xs>
        <md-icon>search</md-icon>
        <md-input-container md-no-float class="md-toolbar-tools">
          <input flex ng-model="filterText" placeholder="Buscar pacientes..." type="text">
        </md-input-container>
      </div>
      <md-button hide show-xs class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>search</md-icon>
        <md-tooltip md-delay="500">Busca un paciente</md-tooltip>
      </md-button>
      <md-button class="filter-button md-primary" id="profile" ng-click="$root.showDialog($event)">
        <md-icon>person_add</md-icon>
        <md-tooltip md-delay="500">Agrega un nuevo paciente</md-tooltip>
      </md-button>
    </div>
  </div>

  <div ng-show="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-search-icon">search</md-icon>
      <md-input-container md-no-float class="md-toolbar-tools md-input-container-xs">
        <input id="mobileSearch" flex ng-model="filterText" placeholder="Buscar" type="text">
      </md-input-container>
      <md-button class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>close</md-icon>
        <md-tooltip md-delay="500">Cancelar busqueda</md-tooltip>
      </md-button>
    </div>
  </div>

  <mdt-table
    sortable-columns="true"
    animate-sort-icon="true"
    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
    mdt-row-paginator="refreshTable(page, pageSize)"
    mdt-row-paginator-error-message="Hubo un error al cargar las personas."
    mdt-row-paginator-no-results-message="No hubo resultados de la busqueda."
    mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
    mdt-translations="{
      'rowsPerPage': 'Filas:'
    }"
    mdt-row="{
    'table-row-id-key': 'id',
    'column-keys': [
    'first_name',
    'last_name',
    'dni',
    'id',
    'hc'
    ],
  }">
    <mdt-header-row>
      <mdt-column align-rule="left">Nombre</mdt-column>
      <mdt-column align-rule="left">Apellido</mdt-column>
      <mdt-column align-rule="left">DNI</mdt-column>
      <mdt-column align-rule="left">Editar</mdt-column>
      <mdt-column align-rule="left">H. Clínica</mdt-column>
    </mdt-header-row>
    <mdt-custom-cell column-key="first_name">
      <ae-profile-icon id={{rowId}} name={{value}} size=32></ae-profile-icon>
      <span class="height-48">{{value}}</span>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="id">
      <mdt-button id="profile" value="{{value}}" ng-click="$root.showDialog($event, this)" icon="edit"></mdt-button>
    </mdt-custom-cell>
    <mdt-custom-cell column-key="hc">
      <mdt-button id="history" ng-click="clientScope.cHistory($event)" icon="description"></mdt-button>
    </mdt-custom-cell>

  </mdt-table>
</div>
