<md-dialog>
  <div layout="row">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">Editar Perfil</div>
      <div style="margin-top:10px">
        <md-button class="md-icon-button">
          <md-icon ng-click="cancel()">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </div>
  <md-divider></md-divider>

  <md-dialog-content class="md-padding" layout-xs="column" layout="row">
    <div layout="column" layout-padding ng-cloak>
      <form name="profileForm" autocomplete="nope">

        <div ng-show="isEmployeeForm">
          <h2 class="md-title">Información de Cuenta</h2>
          <div layout="row">
            <md-input-container flex="50">
              <label>Nombre de Usuario</label>
              <md-icon class="md-primary">account_circle</md-icon>
              <input id="autocompleteoff" name="autocompleteoff" autocomplete="off" ng-model="person.username"/>
            </md-input-container>
            <md-input-container flex="50">
              <label>Nueva Contraseña</label>
              <md-icon class="md-primary">lock</md-icon>
              <input ng-model="person.password" type="password"/>
            </md-input-container>
            <md-input-container flex="50">
              <label>Repita Contraseña</label>
              <md-icon class="md-primary">lock_outline</md-icon>
              <input ng-model="repeat_password" type="password"/>
            </md-input-container>
          </div>
          <h3 class="md-subhead">Cargo...</h3>
          <md-select required ng-model="person.charge" placeholder="Seleccione cargo">
            <md-option value="doctor">Doctora</md-option>
            <md-option value="secretary">Secretaria</md-option>
          </md-select>
          <h3 class="md-subhead">Asistido por/Asiste a...</h3>
          <div layout="row">
            <md-checkbox value="{{e.id}}" class="md-primary" ng-checked="isChecked(e.id)" ng-repeat="e in allEmployees" ng-click="assistEdSelection(e.id)">
              {{ e.profile.first_name + " " + e.profile.last_name }}
            </md-checkbox>
          </div>
        </div>

        <div ng-hide="isEmployeeForm">
          <h2 class="md-title">Información Personal</h2>
          <div layout="row">
            <md-input-container flex="50">
              <label>Nombre</label>
              <md-icon class="md-primary">person</md-icon>
              <input name="comments" required="" name="name" ng-model="person.first_name"/>
              <div ng-messages="profileForm.name.$error">
                <div ng-message="required">Campo obligatorio</div>
              </div>
            </md-input-container>

            <md-input-container flex="50">
              <label>Apellido</label>
              <md-icon class="md-primary">face</md-icon>
              <input name="last_name" ng-model="person.last_name"/>
            </md-input-container>

            <md-input-container flex="50">
              <label>DNI</label>
              <md-icon class="md-primary">chrome_reader_mode</md-icon>
              <input name="dni" ng-model="person.dni"/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label>Email</label>
              <md-icon class="md-primary">mail</md-icon>
              <input name="email" type="email" ng-model="person.email"/>
            </md-input-container>
            <!-- <md-datepicker class="md-primary" ng-model="person.birth_date" md-placeholder="Nacimiento" flex="50"></md-datepicker> -->
            <md-datepicker class="md-primary" ng-model="person.birth_date" md-placeholder="Nacimiento" flex="50"></md-datepicker>
          </div>

          <md-input-container class="md-block">
            <label>Dirección</label>
            <md-icon class="md-primary">location_on</md-icon>
            <input name="address" ng-model="person.address"/>
          </md-input-container>
          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label>Número de teléfono</label>
              <md-icon class="md-primary">phone</md-icon>
              <input name="phone" ng-model="person.phone"/>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
              <label>Número de celular</label>
              <md-icon class="md-primary">phone</md-icon>
              <input name="cellphone" ng-model="person.cellphone"/>
            </div>
          </md-input-container>
        </div>

        <!-- TODO BORRAR ESTO ESTA DUPLICANDO LO ANTERIOR PERO CON PERSON.PROFILE -->
        <div ng-show="isEmployeeForm">
          <h2 class="md-title">Información Personal</h2>
          <div layout="row">
            <md-input-container flex="50">
              <label>Nombre</label>
              <md-icon class="md-primary">person</md-icon>
              <input name="comments" required="" name="name" ng-model="person.profile.first_name"/>
              <div ng-messages="profileForm.name.$error">
                <div ng-message="required">Campo obligatorio</div>
              </div>
            </md-input-container>

            <md-input-container flex="50">
              <label>Apellido</label>
              <md-icon class="md-primary">face</md-icon>
              <input name="last_name" ng-model="person.profile.last_name"/>
            </md-input-container>

            <md-input-container flex="50">
              <label>DNI</label>
              <md-icon class="md-primary">chrome_reader_mode</md-icon>
              <input name="dni" ng-model="person.profile.dni"/>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label>Email</label>
              <md-icon class="md-primary">mail</md-icon>
              <input name="email" type="email" ng-model="person.profile.email"/>
            </md-input-container>
            <!-- <md-datepicker class="md-primary" ng-model="person.birth_date" md-placeholder="Nacimiento" flex="50"></md-datepicker> -->
            <md-datepicker class="md-primary" ng-model="person.profile.birth_date" md-placeholder="Nacimiento" flex="50"></md-datepicker>
          </div>

          <md-input-container class="md-block">
            <label>Dirección</label>
            <md-icon class="md-primary">location_on</md-icon>
            <input name="address" ng-model="person.profile.address"/>
          </md-input-container>
          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label>Número de teléfono</label>
              <md-icon class="md-primary">phone</md-icon>
              <input name="phone" ng-model="person.profile.phone"/>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
              <label>Número de celular</label>
              <md-icon class="md-primary">phone</md-icon>
              <input name="cellphone" ng-model="person.profile.cellphone"/>
            </div>
          </md-input-container>
        </div>

      </form>

    </div>

  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-warn" ng-show="person" ng-click="delete()" layout-align="start center">
      <label>Eliminar</label>
      <md-icon>delete</md-icon>
    </md-button>
    <md-button ng-click="cancel()" layout-align="end center">
      <label>Cancelar</label>
      <md-icon>cancel</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="save()" layout-align="end center">
      <label>Guardar</label>
      <md-icon>save</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
