<md-toolbar layout="row">
  <div class="md-toolbar-tools">Caja Registradora</div>
</md-toolbar>
<md-content layout="column">
  <md-card>
    <md-card-content flex layout="row">
      <div>
        <md-card>
          <md-card-title>
            <div layout="column">
              <span class="md-headline">Introduzca un Nombre</span>
            </div>
          </md-card-title>
          <md-card-content>
            <ae-profile-icon ng-if="selectedItemPeople.first_name"
             name="{{selectedItemPeople.first_name}}" size=32></ae-profile-icon>
            <md-autocomplete required md-selected-item="selectedItemPeople"
            md-search-text="filterTextP"
            md-items="item in peopleList()"
            md-item-text="item.first_name+' '+item.last_name"
            md-min-length="0"
            md-delay="1000"
            md-floating-label="Persona a tratar">
            <md-item-template>
              <div ng-if="item.first_name">
                <span class="item-title">
                  <md-icon>person</md-icon>
                  <span> {{item.first_name}} </span>
                </span>
                <span class="item-metadata">
                  <span class="item-metastat">
                    <strong>{{item.last_name}}</strong>
                  </span>
                  <span class="item-metastat" ng-if="item.dni">
                    - DNI: <strong>{{item.dni}}</strong>
                  </span>
                </span>
              </div>
              <md-button id="profile" class="md-primary" aria-label="Person Add" ng-click="$root.showDialog($event, this)">
                <md-icon>person_add</md-icon>
                <label>Añadir Persona</label>
              </md-button>
            </md-item-template>
          </md-autocomplete>
        </md-card-content>
      </md-card>
      </div>
      <md-card flex>
        <md-card-title>
          <div layout="column">
            <span class="md-headline">Introduzca el capital y el tipo de acción</span>
          </div>
        </md-card-title>
        <md-card-content layout-padding layout="row" layout-align="none center" ng-repeat="action in nActions">
          <md-select required ng-model="action.capital" placeholder="Capital" class="md-no-underline">
            <md-option value="0">Medicamento</md-option>
            <md-option value="1">Dinero</md-option>
          </md-select>
          <span ng-show="showOrHide(action.capital)">$</span>
          <md-autocomplete required ng-hide="showOrHide(action.capital)"
          md-selected-item="action.drug"
          md-search-text="filterTextM"
          md-items="drug in drugList()"
          md-item-text="drug.name"
          md-min-length="0"
          md-delay="1000"
          md-floating-label="Nombre del Medicamento">
            <md-item-template>
              <div ng-if="drug.name">
                <span class="drug-title">
                  <md-icon>local_hospital</md-icon>
                  <span>{{drug.name}}</span>
                </span>
                <span class="item-metadata">
                  <span class="item-metastat">
                    - <strong>{{drug.quantity}}</strong>
                  </span>
                </span>
              </div>
              <md-button class="md-primary" aria-label="Person Add" ng-click="re()">
                <md-icon>add_box</md-icon>
                <label>Añadir Medicina</label>
              </md-button>
            </md-item-template>
          </md-autocomplete>
          <md-input-container>
            <label>Cantidad</label>
            <input required ng-model="action.quantity">
          </md-input-container>
          <md-select required ng-model="action.type" placeholder="Tipo" class="md-no-underline">
            <md-option value="1">Ingreso</md-option>
            <md-option value="0">Egreso</md-option>
          </md-select>
          <md-input-container flex>
            <label>Detalles</label>
            <input ng-model="action.detail">
          </md-input-container>
          <md-button class="md-icon-button" aria-label="deleteRow" ng-click="deleteAction(action)">
            <md-icon>delete</md-icon>
          </md-button>
        </md-card-content>
        <div layout="row" layout-align="end center" layout-padding>
          <md-button class="md-fab" aria-label="more" ng-click="addAction()">
            <md-icon>add</md-icon>
          </md-button>
        </div>
      </md-card>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary md-raised" ng-click="done()">
        <md-icon>done</md-icon>
        Aceptar
      </md-button>
          <md-button class= "md-warn" ng-click="cancel()">
            <md-icon>cancel</md-icon>
            Cancelar
          </md-button>
        </md-card-actions>
  </md-card>
</md-content>
