<div class="filter-wrapper">
  <div layout="row" md-whiteframe="1" class="filter-container">
    <md-icon class="filter-icon">web</md-icon>
    <span class="truncate-ellipsis-xs filter-header">Caja Registradora</span>
    <span class="row-4-gt-xs" flex></span>
    <md-button class="filter-text-button md-primary" ng-click="goToMovements()">
      <span hide show-gt-xs>Mostrar Movimientos</span>
      <md-icon>arrow_forward</md-icon>
      <md-tooltip md-delay="500">Muestra las entradas y salidas de medicamentos y dinero</md-tooltip>
    </md-button>
  </div>
</div>

<form name="registerForm" ng-submit="done()" novalidate>
  <md-card class="vertical-marg-0-5 no-margin-xs">
    <md-card-title>
      <div layout="column">
        <span class="md-headline">Ingrese un Nombre</span>
      </div>
    </md-card-title>
    <md-card-content>
      <div layout="row">
      <ae-profile-icon ng-if="selectedItemPeople.first_name" name="{{selectedItemPeople.first_name}}" size=72 id={{selectedItemPeople.id}}></ae-profile-icon>
      <md-autocomplete
        flex
        required
        md-selected-item="selectedItemPeople"
        md-require-match="true"
        md-input-name="person"
        md-search-text="filterTextP"
        md-items="item in peopleList()"
        md-item-text="itemText(item)"
        md-min-length="0"
        md-delay="1000"
        md-no-cache="true"
        md-floating-label="Persona a tratar">
        <md-item-template>
          <div ng-if="item.first_name">
            <span class="item-title">
              <ae-profile-icon ng-if="item.first_name" name="{{item.first_name}}" size=32 id={{item.id}}></ae-profile-icon>
              <span>{{item.first_name}}</span>
            </span>
            <span class="item-metadata">
              <span class="item-metastat">
                <strong>{{item.last_name}}</strong>
              </span>
              <span class="item-metastat" ng-if="item.dni">
                - DNI:
                <strong>{{item.dni}}</strong>
              </span>
            </span>
          </div>
          <div layout="row">
            <md-button flex id="profile" class="md-primary" aria-label="Person Add" ng-click="$root.showDialog($event, this)">
              <md-icon>person_add</md-icon>
              <label>Añadir Persona</label>
            </md-button>
          </div>
        </md-item-template>
        <div ng-messages="registerForm.person.$error">
          <div ng-message="required">Seleccione o agregue a la persona a tratar.</div>
          <div ng-message="md-require-match">Esta persona no existe.</div>
        </div>
      </md-autocomplete>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="vertical-marg-0-5 no-padding item-card" ng-repeat="action in nActions">
    <md-card-content layout-padding layout="row" layout-align="none center">
      <md-button class="md-fab stick-button" aria-label="more" ng-click="addAction()" ng-show="$last">
        <md-icon>add</md-icon>
        <md-tooltip md-delay="500">Agregar un nuevo item a la transacción</md-tooltip>
      </md-button>
      <ae-profile-icon letter="{{$index + 1}}" size=56></ae-profile-icon>
      <md-input-container class="item-capital">
        <md-select name="capital" required ng-model="action.capital" placeholder="Capital" class="md-no-underline">
          <md-option value="0">Medicamento</md-option>
          <md-option value="1">Dinero</md-option>
        </md-select>
        <div ng-messages="registerForm.capital.$error">
          <div ng-message="required">Tipo de intercambio</div>
        </div>
      </md-input-container>
      <span ng-show="showOrHide(action.capital)">$</span>
      <md-autocomplete
        class="item-drug-name"
        required
        ng-if="!showOrHide(action.capital)"
        md-require-match="true"
        md-input-name="drug"
        md-selected-item="action.drug"
        md-search-text="filterTextM"
        md-items="drug in drugList()"
        md-item-text="drug.name"
        md-min-length="0"
        md-delay="1000"
        md-no-cache="true"
        md-floating-label="Nombre del Medicamento">
        <md-item-template>
          <div ng-if="drug.name">
            <md-icon>healing</md-icon>
            <span class="drug-metadata">
              <span class="drug-metastat">
                <strong>({{drug.quantity}})</strong>
              </span>
            </span>
            <span class="drug-title">
              <span>{{drug.name}}</span>
            </span>
          </div>
          <div layout="row">
            <md-button id="drug" flex class="md-primary" aria-label="Drug Add" ng-click="goToDialog($event, nActions.indexOf(action))">
              <md-icon>add_box</md-icon>
              <label>Añadir</label>
            </md-button>
          </div>
        </md-item-template>
        <div ng-messages="registerForm.drug.$error">
          <div ng-message="required">Seleccione o agregue el medicamento</div>
          <div ng-message="md-require-match">Este medicamento no existe.</div>
        </div>
      </md-autocomplete>
      <md-input-container class="item-quantity">
        <label>Cantidad</label>
        <input name="quantity" required ng-model="action.quantity" type="number" min="0">
        <div ng-messages="registerForm.quantity.$error">
          <div ng-message="required">¿Cuanto/s?</div>
          <div ng-message="number">Introduzca sólo números.</div>
          <div ng-message="min">Introduzca sólo números positivos.</div>
        </div>
      </md-input-container>
      <md-input-container class="item-type">
        <md-select required name="type" ng-model="action.type" placeholder="Tipo" class="md-no-underline">
          <md-option value="1">Ingreso</md-option>
          <md-option value="0">Egreso</md-option>
        </md-select>
        <div ng-messages="registerForm.type.$error">
          <div ng-message="required">Ingreso/Egreso</div>
        </div>
      </md-input-container>
      <md-input-container class="item-details" flex>
        <label>Detalles</label>
        <input name="detail" ng-model="action.detail" md-maxlength="100">
        <div ng-messages="registerForm.detail.$error">
          <div ng-message="md-maxlength">La descripción es muy larga.</div>
        </div>
      </md-input-container>
      <md-button class="item-delete md-icon-button md-warn" aria-label="deleteRow" ng-click="deleteAction(action)">
        <md-icon>close</md-icon>
        <md-tooltip md-delay="500">Elimine este item</md-tooltip>
      </md-button>
    </md-card-content>
  </md-card>

  <div layout="row">
    <span flex></span>
    <md-card class="register-menu" md-whiteframe="4">
      <md-card-actions layout-align="end center">
        <md-button class="md-warn" ng-click="cancel()">
          <md-icon>refresh</md-icon>
          <md-tooltip md-delay="500">Cancelar transacción y empezar de nuevo</md-tooltip>
          Cancelar
        </md-button>
        <md-button class="md-primary save-button" ng-disabled="registerForm.$invalid || registerForm.$pristine || saving" ng-click="done()">
          <md-icon>done</md-icon>
          <md-tooltip md-delay="500">Proceder a guardar la transacción</md-tooltip>
          Aceptar
          <md-progress-linear ng-show="saving" md-mode="indeterminate"></md-progress-linear>
        </md-button>
      </md-card-actions>
    </md-card>
    <span flex></span>
  </div>
</form>

<div id="bottom"></div>
