<div class="stockTable">
  <div ng-hide="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-icon">format_list_bulleted</md-icon>
      <span class="truncate-ellipsis-xs filter-header"><span hide show-gt-xs>Lista de</span> Medicamentos</span>
      <span flex></span>
      <div class="filter-search" layout="row" hide show-gt-xs>
        <md-icon>search</md-icon>
        <md-input-container md-no-float class="md-toolbar-tools">
          <input flex ng-model="filterText" placeholder="Comience a escribir aquí" type="text">
        </md-input-container>
      </div>
      <md-button hide show-xs class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>search</md-icon>
        <md-tooltip md-delay="500">Busca un medicamento</md-tooltip>
      </md-button>
      <md-button class="filter-button md-primary" id="drug" ng-click="$root.showDialog($event)">
        <md-icon>add</md-icon>
        <md-tooltip md-delay="500">Agrega un nuevo medicamento</md-tooltip>
      </md-button>
    </div>
  </div>

  <div ng-show="showMobileSearch" class="filter-wrapper">
    <div layout="row" md-whiteframe="1" class="filter-container">
      <md-icon class="filter-search-icon">search</md-icon>
      <md-input-container md-no-float class="md-toolbar-tools md-input-container-xs">
        <input id="mobileSearch" flex ng-model="filterText" placeholder="Buscar" type="text">
      </md-input-container>
      <md-button class="filter-button md-primary" ng-click="toggleMobileSearch()">
        <md-icon>close</md-icon>
        <md-tooltip md-delay="500">Cancelar busqueda</md-tooltip>
      </md-button>
    </div>
  </div>

  <!-- Change slectable-rows to true for reactivating bulk deletion after solving db issue with movements table -->
  <mdt-table
    table-card="{visible: false, title: 'Inventario'}"
    selectable-rows="false"
    alternate-headers="'contextual'"
    delete-row-callback="deleteRowCallback(rows)"
    sortable-columns="true"
    animate-sort-icon="true"
    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
    mdt-row-paginator="refreshTable(page, pageSize)"
    mdt-row-paginator-error-message="Hubo un error al cargar el stock."
    mdt-row-paginator-no-results-message="No hubo resultados de la busqueda."
    mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
    mdt-translations="{
    'rowsPerPage': 'Filas:'
    }"
    mdt-row="{
    'table-row-id-key': 'id',
    'column-keys': [
    'name',
    'quantity',
    'description',
    'id',
    ],
  }">
    <mdt-header-row>
      <mdt-column align-rule="left">Nombre</mdt-column>
      <mdt-column align-rule="left">Cantidad</mdt-column>
      <mdt-column align-rule="left">Detalle</mdt-column>
      <mdt-column align-rule="left">Editar</mdt-column>
    </mdt-header-row>
    <mdt-row>
      <mdt-custom-cell column-key="name" editable-field="smallEditDialog" editable-field-max-length="25">
        {{value}}
      </mdt-custom-cell>
      <mdt-custom-cell column-key="quantity">
        {{value}}
      </mdt-custom-cell>
      <mdt-custom-cell column-key="description">
        {{value| limitTo: 50}}{{value.length > 100? '...': ''}}
      </mdt-custom-cell>
      <mdt-custom-cell column-key="id">
        <mdt-button id="drug" value="{{value}}" ng-click="$root.showDialog($event, this)" icon="edit"></mdt-button>
      </mdt-custom-cell>
    </mdt-row>
  </mdt-table>
</md-card>
