<md-dialog>
  <div layout="row">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">Consulta</div>
      <div class='dialog-close'>
        <md-button ng-click="cancel()" class="md-icon-button">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

  </div>
  <md-divider></md-divider>
  <md-dialog-content layout="column" layout-padding flex>
    <div layout="row">
      <p><b>Paciente: </b>
      <i ng-bind="visit.patient_name"></i></p>
    </div>
    <div layout="row">
      <p><b>Profesional: </b>
      <i ng-bind="visit.doctor_name"></i></p>
    </div>
    <div layout="row">
      <p><b>Fecha: </b>
      <i ng-bind="visit.datetime|date: 'dd MMMM yyyy HH:mm'"></i></p>
    </div>
    <div layout="row" layout-align="space-between center">
      <p><b>Detalles: </b></p>
      <md-button class="filter-button md-primary" ng-click="edit()">
        <md-icon>border_color</md-icon>
      </md-button>
    </div>
    <form name="visitForm" submit="save()" novalidate>
      <md-input-container class="md-block dialog-text-area">
        <label></label>
        <textarea name="detail" type="text" ng-model="visit.detail" ng-change="change()"
        rows="3" ng-disabled="enable" md-no-autogrow required></textarea>
        <div ng-messages="visitForm.detail.$error">
          <p ng-message="required">Este campo es obligatorio.</p>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-warn" ng-click="delete()" layout-align="start center">
      <label>Eliminar</label>
      <md-icon>delete</md-icon>
    </md-button>
    <md-button ng-click="cancel()" layout-align="end center">
      <label>Cancelar</label>
      <md-icon>cancel</md-icon>
    </md-button>
    <md-button class="md-primary save-button" ng-click="save()" ng-disabled="visitForm.$invalid || visitForm.$pristine || saving" layout-align="end center">
      <label>Guardar</label>
      <md-icon>save</md-icon>
      <md-progress-linear ng-show="saving" md-mode="indeterminate"></md-progress-linear>
    </md-button>
  </md-dialog-actions>
</md-dialog>
