<md-dialog>
  <div layout="row">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">Consulta</div>
      <div style="margin-top:10px">
        <md-button ng-click="cancel()" class="md-icon-button">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

  </div>
  <md-divider></md-divider>
  <md-dialog-content layout="column" layout-padding flex>
    <div layout="row">
      <p> Paciente: <b ng-bind="visit.patient_name"></b></p>
    </div>
    <div layout="row">
      <p> Médico: <b ng-bind="visit.doctor_name"></b></p>
    </div>
    <div layout="row">
      <p>Fecha: <b ng-bind="visit.datetime|date: 'dd MMMM yyyy HH:mm'"></b></p>
    </div>
    <div layout="row" layout-align="space-between center">
      <p>Detalles: </p>
      <md-button class="md-icon-button md-primary" ng-click="edit()">
        <md-icon>border_color</md-icon>
      </md-button>
    </div>
    <form name="visitForm" submit="save()" novalidate>
      <md-input-container class="md-block" style="height: inherit;
    overflow-y: auto;">
        <label></label>
        <textarea name="detail" type="text" ng-model="visit.detail" ng-change="change()"
        rows="3" ng-disabled="enable" md-no-autogrow required></textarea>
        <div ng-messages="visitForm.detail.$error">
        <p ng-message="required">Este campo es obligatorio.</p>
    </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-warn" ng-click="delete()" layout-align="start center">
      <label>Eliminar</label>
      <md-icon>delete</md-icon>
    </md-button>
    <md-button ng-click="cancel()" layout-align="end center">
      <label>Cancelar</label>
      <md-icon>cancel</md-icon>
    </md-button>
    <md-button class="md-primary" ng-click="save()" ng-disabled="visitForm.$invalid || visitForm.$pristine" layout-align="end center">
      <label>Guardar</label>
      <md-icon>save</md-icon>
    </md-button>
  </md-dialog-actions>
</md-dialog>
